################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/220607_문법/.vs/220607_문법/v17
/220606_문법/.vs/220606_문법/v17
